// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	-webkit-font-smoothing: antialiased;
}

body h1, h2, h3, h4{
	
	text-transform: uppercase;
}

.footer {
	padding:20px;
}

a {
	color: #000;
	&:hover, &:focus { color:#000; }
}

.tumblr {
	
	height:100%;
}

.navbar {
	text-transform: uppercase;
}